<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="test-jardin">
  <display-name>Système de gestion de Jardin Collectif WEB</display-name>
  <context-param>
    <param-name>exempleParam1</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>exempleParam2</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>
      <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>javaEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
  <listener>
    <listener-class>jardinServlet.JardinSessionListener</listener-class>
    <listener-class>jardinServlet.JardinContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>jardinServlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>jardinServlet.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>jardinServlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>jardinServlet.inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutPlante</servlet-name>
    <servlet-class>jardinServlet.AjoutPlante</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterLot</servlet-name>
    <servlet-class>jardinServlet.AjouterLot</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectionMembre</servlet-name>
    <servlet-class>jardinServlet.SelectionMembre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlanterPlant</servlet-name>
    <servlet-class>jardinServlet.PlanterPlant</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>GererMembre</servlet-name>
    <servlet-class>jardinServlet.GererMembre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demande</servlet-name>
    <servlet-class>jardinServlet.Demande</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AjoutPlante</servlet-name>
    <url-pattern>/AjoutPlante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterLot</servlet-name>
    <url-pattern>/AjouterLot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionMembre</servlet-name>
    <url-pattern>/SelectionMembre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanterPlant</servlet-name>
    <url-pattern>/PlanterPlant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demande</servlet-name>
    <url-pattern>/Demande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GererMembre</servlet-name>
    <url-pattern>/GererMembre</url-pattern>
  </servlet-mapping>
  
</web-app>
